<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CompareX</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Comparex</h1>
        <form method="GET" th:action="@{/search}">
            <input name="pesquisar" type="search">
            <button class="botao-submit" id="comparar" th:type="submit">Comparar</button>
        </form>
        <ul>
            <th:block th:each="produto : ${produtos}">
                <li> 
                    <h3 th:text="${produto.descricao}"></h3>
                    <p th:text="${produto.pontuacao}"></p>
                    
                </li>
            </th:block>
        </ul>
    </body>
</html>