<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="fontawesome-free-5.11.2-web/css/fontawesome.min.css">

    <title>Resultado da Busca</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
    <form method="get" th:object="${produto}" th:action="@{/search}" class="row navbar navbar-dark  bg-danger flex-md-nowrap p-4 px-md-4 mb-3 shadow">
        <a class="navbar-brand col-sm-3 col-md-3 mr-0" th:href="@{/}">CompareX</a>

            <input name="pesquisar" class="form-control form-control-danger w-50" type="text"id ="input_princi" placeholder="digite o produto"
                aria-label="Search">
            <div class="col-sm-4">
                <button type="submit" id="comparar" class="btn btn-warning">Pesquisar <img th:src="@{/img/search-solid.svg}" alt=""
                        height="14" width="14"></button>
                      
            </div>
        
          </form>

    </div>
    <div class="container">
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-muted" th:each="loja : ${lojas}" th:text="${loja.nome}" th:href="@{'/loja/'+${loja.id}}"></a>
            </nav>
        </div>
    </div>
    <hr>
    <section>
        <div class="container">
            <div id="acabamento">
                <p>Acabamentos:</p>
                <p th:each="acabamento : ${acabamentos}"><a th:text="${acabamento.nome}" th:href="@{'?acabamento=' + ${acabamento.id}}"></a></p>
            </div>
                <div id="ordenacao">
                    <p>Ordenar por:</p>
                    <p><a th:href="@{?ordenacao=relevancia}">Relevância</a></p>
                    <p><a th:href="@{?ordenacao=maiorpreco}">Maior Preço</a></p>
                    <p><a th:href="@{?ordenacao=menorpreco}">Menor Preço</a></p>
                    <p><a th:href="@{?ordenacao=menornome}">Nome (A-Z)</a></p>
                    <p><a th:href="@{?ordenacao=maiornome}">Nome (Z-A)</a></p>
                </div>
            </div>
            <div class="container">
                <div id="index">
                <!-- <th:block th:each="produto : ${produtos}"> -->
                    <div class="card" th:each="produto : ${produtos}">
                        <p id="id-produto" th:text="${produto.id}"></p>
                        <a class="product-image" href="#">
                            <img th:src="${produto.imagem}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title" th:text="${produto.nome}"><a href="#"></a></h5>
                          <small>Preço:</small>
                          <p class="card-text" th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco, 0, 2)}"></p>
                          <a th:href="${produto.link}" target="_blank" class="btn btn-primary">Ver na página</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    </hr>
    <footer class="pt-4 my-md-5 pt-md-5 border-top bg-light">
        <div class="row">
            <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2019</small>
            </div>
            <div class="col-6 col-md">
                <h5>Classificação</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Produtos</a></li>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Mais sobre</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#"> Quem somos</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Sobre nós</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Equipe</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>